/* src/components/CarritoIcon/CarritoIcon.css */
.carrito-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745; /* Color de fondo del icono */
    color: #fff; /* Color del icono */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;

  }
  
  .carrito-icon.agregado {
    transform: scale(1.2); /* Escala el icono al 120% del tamaño original */
    color: #ff4500; /* Cambia el color del icono a uno diferente cuando se agrega algo */
  }